<%if @business%>
    <%=render partial:  "business"%>
    <%=display_edit_business(@business)%>
    <%=display_delete_business(@business)%><br><br>
 <%end%>
<div class="button-link-business">
    <%=link_to "Back to all businesses", businesses_path%>
</div>