<div class="account-page">
    <div class = "">
        <%=link_to "Add your business", new_business_path%>
        <%=link_to "See all businesses", businesses_path%>
        <%=link_to "See all nabes", neighborhoods_path%>
    </div>
     <%=image_tag("neighborhood-01.png") %>

</div>
