<div class="first_text">
   <div>
    <h2 class="home-page-text">Welcome to an application for people who want to support local businesses
    and for businesses who want to be found in their neighborhood
     </h2>
     <%=button_to "Get started", class: "button-home-page"%>
     </div>
    <%=image_tag("business-nabeB.jpg") %>
    
</div>

<div class="center_text">
    <%=image_tag("neighborhood-01.png")%>
    <div>
    <h2 class="home-page-text">"Someone who loves a neighbor allows him to be as he is, as he was and as he will be."</h2>
    <div class="author">Michael Quoist<div>
    </div>
</div>


 
