<div class="center_text">
<h1>Welcome to NABE B!</h1>
<h4> an application for people who want to support local businesses and for businesses who want to be found in their neighborhood.</h4>
</div>


<div id="image_welcome"><%=image_tag("rails_project_image01") %></div>

