<div class="first_text">
   <div>
        <div class="home-page-title">Welcome!</div>
        <div class="home-page-text">This is an application for people who want to support local businesses
        and for businesses who want to be found in their neighborhood

        
        </div>
        <div class="button-home-page">
           <%=link_to "Get started" %>
        </div>
    </div>
    <%=image_tag("business-nabeB.jpg") %>
 </div>


 <div class="last_text">
   <%=image_tag("neighborhood-01.png") %>
   <div>
        <div class="home-page-title">"Someone who loves a neighbor allows him to be as he is, as he was and as he will be."</div>
        <div class="home-page-text">Michael Quoist
        </div>
        
    </div>
    
 </div>

 

<div class="center_text">
    
    <div>
    <h2 class="home-page-title">What you are going to see here:</h2>
    <div class="home-page-text">A list of small businesses on your neighborhood. You can search them by category or look to all the businesses in your neighborhood.
    You are also welcome to list your business and your neighbor will find about you when he will need your service.

        </div>
    </div>
    <%=image_tag("small-business.gif")%>
</div>












 
