<div class="first_text">
   <div>
        <div class="home-page-title">Welcome!</div>
        <div class="home-page-text">This is an application for people who want to support local businesses
        and for businesses who want to be found in their neighborhood
        </div>
        <div class="button-home-page">
           <%=link_to "Get started" %>
        </div>
    </div>
    <%=image_tag("business-nabeB.jpg") %>
    
</div>

<div class="center_text">
    <%=image_tag("neighborhood-01.png")%>
    <div>
    <h2 class="home-page-title">"Someone who loves a neighbor allows him to be as he is, as he was and as he will be."</h2>
    <div class="author">Michael Quoist<div>
    </div>
</div>


 
