
<h2> Neighborhood</h2>

<%= render "neighborhood"%><br><br><br>

<%=link_to "Add a business", new_neighborhood_business_path(@neighborhood)%><br><br>
<%=link_to "Back to all neighborhoods", neighborhoods_path%><br><br>
<%=link_to "Back to all businesses", businesses_path%>

