/* // Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/ */
.login-form{
    position: relative;
    margin: auto;
    height: 400px;
    width: 300px;
    border-radius: 5px;
    background-color:#f0d1ae;
    padding: 30px;
}

form > label{
    font-family: avenir;
    color: grey;
}

form > input {
    border-radius: 5px;
    height: 25px;
    outline-color:  rgb(134, 201, 178);
    border-style: none;
}
form > input[type=submit]{
    outline-style: none;
    outline-color:  rgb(134, 201, 178);
    background-color: rgb(134, 201, 178);;
    color: white;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    
}

form > input[type=submit]:hover{
    background-color: grey;
    color: rgb(134, 201, 178);
    cursor: pointer;
}


.login-with-google{
    background-color: rgb(134, 201, 178);
    color: white;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    width: auto;
}
.login-with-google:hover{
    background-color: grey;
    color: rgb(134, 201, 178);
}